* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: #fff;
}
body,
html {
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.page1 {
  height: 100vh;
  width: 100%;
  background-color: aqua;
  background-image: url(https://plus.unsplash.com/premium_photo-1676496046182-356a6a0ed002?q=80&w=876&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: top;
  background-size: cover;
}
.page2 {
  height: 100vh;
  width: 100%;
  background-color: rgb(129, 142, 142);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.page3 {
  height: 100vh;
  width: 100%;
  background-color: rgb(4, 28, 28);
}
.box {
  width: 100px;
  height: 100px;
  background-color: rgb(210, 105, 30);
  border: 2px solid black;
  margin: 2px;
}
