* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  font-family: "freightbig-pro";
  color: #000;
  overflow-y: auto;
}
#loader {
  height: 100vh;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
}
#loader h1 {
  font-size: 3vw;
  line-height: 3vw;
  letter-spacing: -1;
  font-weight: 200;
  position: relative;
  z-index: 9;
}
.yellow {
  height: 100%;
  width: 100%;
  background-color: #f5e31a;
  position: absolute;
  z-index: 8;
}
.page1 {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.page1 h1 {
  font-size: 3vw;
  line-height: 3vw;
  letter-spacing: -1;
  font-weight: 200;
}
nav {
  width: 100%;
  position: fixed;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
#part2 {
  display: flex;
  gap: 50px;
}
#part2 h4 {
  color: #000000a4;
}
#part2 h4:hover {
  color: #000;
}
.page2 {
  height: 100vh;
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.elem {
  width: 100%;
  padding: 5px 0px;
  text-align: center;
  position: relative;
}
.elem h2 {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 100;
}
.elem .moving {
  background-color: #f5e31a;
  width: 100%;
  position: absolute;
  white-space: nowrap;
  top: 40%;
  opacity: 0;
}
.elem .moving .moving-in {
  display: inline-block;
  white-space: nowrap;
}
.elem .moving .moving-in h5 {
  display: inline-block;
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
  margin-right: 20px;
}
.page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
}
#image-div {
  position: relative;
  width: 100%;
  margin: 10px 20px;
}

.image-card {
  position: absolute;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
}
.image-card img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.806);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.overlay h5 {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.image-card:hover .overlay {
  opacity: 1;
}
.footer {
  width: 100%;
  height: 10vh;
  background-color: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 3vw;
}
